# workflow name
name: Test

on: [push, pull_request]

jobs:
  test: 
    name: Kotlin Tests
    runs-on: ubuntu-latest 
    env:
      TZ: Asia/Shanghai    
        
    steps:
    # check it to your workflow can access it
    # from: https://github.com/actions/checkout
    - name: Checkout Repository master branch
      uses: actions/checkout@master 
    
    - name: validate wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Test with gradle
      run: ./gradlew test